
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}


.navbar__left-section {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar__left-section--custom-icons svg {
    width: 65%;
    height: 24px;
    color:rgba(144, 164, 174, 1); /* Adjust SVG color */
}

.navbar__left-section--logo img {
    height: 35px;
}
.navbar__left-section--separator {
    width: 1px;
    height: 30px;
    background-color: #ddd; 
    position: relative;
   
}

.navbar__left-section--workspace {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 1.4286rem;
    margin-left: 1.4286rem;
    position: relative;
   
}

.navbar__left-section--workspace span {
    font-size: 16px;
    color: #333;
}
.navbar__left-section--workspace--menu-dots {
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0.7;
    transform: rotate(90deg);
    position: relative;
    left: 30px;
}

.navbar__left-section--workspace--menu-dots:hover {
    opacity: 1;
}


.navbar__left-section--workspace--upgrade-btn {
    background-color: #0073ea;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    position: relative;
    left: 80px;
}

.navbar__left-section--workspace--upgrade-btn:hover {
    background-color: #005bb5;
}


.navbar__right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__right-section--icons{
    display: flex;
    gap: 30px;
    padding: 0 1.4286rem
}

.navbar__right-section--icons--icon {
    font-size: 18px;
    color: #555;
    cursor: pointer;
}
.navbar__right-section--icons--separator {
    width: 1px;
    height: 30px;
    background-color: #ddd; 
    
}

.navbar__right-section--profile {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
